.app-container {
    padding-left: 120px;
}

.page-container {
    margin: 4em;

    &#home {
        text-align: center;
    }
    &:not(#home) {
        display: none;
    }
}

#starBg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

