.kanban-container{
    height: 80vh;

    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr ;
    gap: 0px 5px;
    grid-template-areas:
      ". no-status not-started in-progress completed .";
}

.kanban-container h3 {
    position: relative;
    top: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 7px;

}

.no-status { 
    grid-area: no-status; 
}

.not-started { 
    grid-area: not-started; 
}

.in-progress { 
    grid-area: in-progress; 
}

.completed { 
    grid-area: completed; 
}

#add-task {
    padding: 0.5rem 1rem;
    background-color: whitesmoke;
    outline: none;
    border: none;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
}