nav {
    width: 120px;
    height: 75vh;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 10px;
    display: flex;
    border-radius: 40px;
    justify-content: space-around;
    align-items: center;
    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        
        .nav-item a {
            display: inline-block;
            text-decoration: none;
            color: white;
            margin: 20px 0;
            width: 100px;
            padding: 20px 8px;
            border-radius: 30px;
            display: flex;
            justify-content: center ;
            background-color: #3666E0;
            transition: background-color 0.2s ease;
            

            &:hover {
                background-color: #2646B8;
            }
            &.active {
                font-weight: bold;
                background-color: #2646B8;
            }
        }
    }
}